
<div class="banner">
  <div class="banner-content">
    <h1>L'entretien sans intermédiaire</h1>
    <h1>Louez votre espace de garage</h1>

      <form class="form-inline">
        <div class="form-group">
          <label for="geolocalizeAddress">Votre code postal</label>
            <input type="text" class="form-control" id="geolocalizeAddress" placeholder="59120">
        </div>
      <button type="submit" class="btn btn-primary">Valider</button>
      </form>

  </div>
</div>


