<div class="banner">
  <div class="banner-content">
    <h1>L'entretien sans intermédiaire</h1>
    <h1>Louez votre espace de garage</h1>

      <form class="form-inline">
        <div class="form-group">
          <label for="geolocalizeAddress">Votre code postal</label>
            <input type="text" class="form-control" id="geolocalizeAddress" placeholder="59120">
        </div>
      <button type="submit" class="btn btn-default">Valider</button>
      </form>

  </div>
</div>
<div>
  <div class= "container">
    <h2>Résultat de votre recherche: choisissez un pont</h2>
    <% @lifts.each do |lift| %>
    <div class= "row">
      <div class= "col-xs-6 col-sm-6">
        <div class= "col-xs-3 col-sm-3">
          <a href="<%= image_path '' %>"> photo </a>

        </div>
        <div class= "col-xs-6 col-sm-6">
         <div class="card">
          <h3><%= link_to lift.name, lift_path(lift)%></h3>
          <h5><%= lift.address%></h5>
          <!--
          <div class= "card">
            <div class= "col-xs-6 col-sm-3">

            </div>

          </div> -->
        </div>
      </div>
      <div class= "col-xs-3 col-sm-3">
      </div>
    </div>
    <div class= "col-xs-6 col-sm-6">

    </div>
  </div>
  <% end -%>
</div>
<br>
<p><%= link_to 'Ajouter un pont', new_lift_path, {class: "btn-medium"}%></p>
</div>
