h1 Lifts

.row
- @lifts.each do |lift|
  .col-xs-12.col-sm-4
    .card
    / - lift.photos.each do |photo|
    /   = cl_image_tag(photo.path, width: 200, height: 150, crop: :fill)
    p = link_to lift.name, lift_path(lift)

br

.row
  .col-xs-12
    p = link_to 'Ajouter un nouveau pont', new_lift_path



