

<div class="banner">

 <div class="container">
   <div class="col-xs-12 col-sm-6  col-sm-offset-3">
     <div class="login">
      <h1>Création d'un nouveau pont</h1>

      <%= render 'form' %>

      <div class="links">

      <%= link_to 'Back', lifts_path %>
      </div>



      </div>
    </div>
  </div>
</div>

